@model List<CartItem>
@{
    var title = "Корзина";
    ViewData["Title"] = title;
    decimal Sum = 0; // Temp variable, before develope ViewModel
}

<h2>@title</h2>

<div class="md-t-1">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название продукта</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Итог</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model)
            {
                Sum += cartItem.Product.Price * cartItem.CountOfProduct;
                <tr>
                    <td>@cartItem.Product.Name</td>
                    <td>@cartItem.Product.Price</td>
                    <td>@cartItem.CountOfProduct</td>
                    <td>@(cartItem.Product.Price * cartItem.CountOfProduct)</td>
                    <td><a href="cart/delete/@(cartItem.Id)" class="btn btn-danger">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Сумма товаров в корзине: @Sum</h3>
</div>
